# Output dirs
/_coverage
/_storybook
/lib

# Temp dirs
~notes

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variable files
.env*

# Mac files
.DS_Store
